<section>
  <h2>Search for a category:</h2>

  <form class="search-form">
    <div>
      <input type="text" id="category" name="category" />
    </div>
    <button type="submit" class="btn">Search</button>
  </form>


</section>

<section id = "category-posts">

</section>


<script src="/javascript/search.js"></script>