<section class = "p-5">
  <h2>Search for a category:</h2>

    <form class="search-form d-flex flex-row">
        <div class = "d-flex flex-row">
            <input type="text" id="category" name="category" /></div>
            <button type="submit" class="btn-no-style">Search</button>
        </div>
    </form>


</section>

<section id = "category-posts" class = "p-5">

</section>


<script src="/javascript/search.js"></script>